*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: rgb(92, 92, 228);
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    grid-template-areas:
    "left right";
    background-color:  rgb(111, 111, 224);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.left{
    grid-area: left;
    display: flex;
    margin-left: 200px;
    gap: 10px;
}
.name{
    color: white;
    font-size: 27px;
    font-weight: bolder;
}
.logo{
    height: 27px;
}
.right{
    grid-area: right;
}
.nav{
    color: white;
    text-decoration: none;
    padding-left: 50px;
    font-size: 15px;
}


main{
    margin-top: 100px;
}
.block1{
    text-align: center;
}
h1{
    color: white;
}
h3{
    color: white;
    padding-top: 15px;
    line-height: 1.8;
}
button{
    background-color: rgb(216, 103, 103);
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
}
button:hover{
    background-color: rgb(218, 69, 69);
    height: 60px;
    width: 160px;
}
a{
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.block2{
    background-color: white;
    height: 450px;
    margin: 60px 20px 0px 20px;
    border-radius: 20px;
}
#card1{
    display: flex;
    justify-content: center;
    gap: 50px;
}
h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
}
.card1{
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 40px 5px 10px 5px;
    background-color: whitesmoke;
    border-radius: 15px;
    border-left: 5px solid rgb(92, 92, 228);
}
.icon{
    height: 50px;
    margin-bottom: 10px;
}
h4{
   padding-bottom: 10px; 
}
.infa{
    line-height: 1.8;
    padding-top: 15px;
}

.block3{
    height: 450px;
    margin-top: 60px;
}
.white{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
}
#card2{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card2{
    width: 350px;
    height: 200px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(186, 186, 248);
    border-radius: 15px;
}
.head{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.yellow{
    color: rgb(164, 143, 1);
    font-size: 20px;
    margin-top: 12px;
}
.icon2{
    height: 25px;
    display: block;
}
.infa2{
    line-height: 1.8;
    color: white;
}

.block4{
    background-color: white;
    height: 470px;
    margin: 40px 20px 0px 20px;
    border-radius: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.number{
    font-size: 40px;
    background-color: rgb(92, 92, 228);
    border-radius: 50px;
    color: white;
    width: 50px;
    text-align: center;
}
.text{
    background-color: whitesmoke;
    font-size: 17px;
    width: 700px;
}

footer{
    height: 450px;
    text-align: center;
    color: white;
    margin: 60px 400px 0 400px;
}
.last{
    font-size: 17px;
    line-height: 1.8;
}
.end{
    margin-top: 30px;
}


